.awesome-chat-item {
	position: relative;
	white-space: nowrap;
}
.post-item-wrapper {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	width: 100%;
}
.awesome-chat-chater {
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	width: 32px;
	height: 32px;

}
.post-item-wrapper:nth-child(even) {
	direction: rtl;
}
.awesome-chat-text {
	display: inline-block;
	position: relative;
  	margin: 4px 0px 10px 5px;
  	padding: 6px 20px;
	width: 75%;
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: 1px 2px 4px -1px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.3);
	direction: ltr;
}
.awesome-chat-photo {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-moz-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.awesome-chat-message {
	  overflow: hidden;
  margin: 0 40px 0 0;
  white-space: normal;
  width: 50%;
  word-wrap:break-word;
}
.awesome-chat-date {
	display: inline-block;
	position: relative;
	float: right;
	font-size: 8px;
  	margin: 0 0 0 10px;
}